button{
  background-color: #e56a2e;
  padding-inline: 15px;
}

.btnSpace{

  padding-inline: 15px;
}


.filter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: 20px;
}

h1, h2, h3{
  margin: 0;
  text-align: center;
}

.spacing{
margin-left: 20px;
margin-right: 20px;
}
