<mat-dialog-content>
  <div style="margin-left: auto; margin-right:auto">
    <div style="display: inline-flex;">
      <!-- <img style="max-width: 250px; max-height:250px; margin-inline:15px" src="{{user.photoRef}}"> -->
      <form #namesForm="ngForm" (ngSubmit)="OnSubmitChanges(namesForm.value)">
        <label for="fname">First Name:</label><br>
        <input type="text" id="fname" name="fname" [ngModel]="user.first_name"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" [ngModel]="user.last_name"><br><br>

        <label for="homeAddress1">Home Address 1:</label><br>
        <input type="text" id="homeAddress1" name="homeAddress1" [ngModel]="user.address"><br>
        <!-- <label for="homeAddress2">Home Address 2:</label><br>
      <input type="text" id="homeAddress2" name="homeAddress2" [ngModel]="user.homeAddress2"><br><br> -->
        <label for="city">City:</label><br>
        <input type="text" id="city" name="city" [ngModel]="user.city"><br>

        <label for="state">State:</label><br>
        <input type="text" id="state" name="state" [ngModel]="user.state"><br>

        <input type="submit" value="Submit Changes">
      </form>
      <!-- test -->


    </div>
    <mat-dialog-actions>
      <button mat-raised-button color="primary" mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
    <!-- <button (click)="Cancel()">Cancel</button> -->
  </div>
</mat-dialog-content>
