.user-column-list{
  column-count: 3;
  column-rule: 2px dotted black;

  align-items: center;
  align-content: center;
  text-align: left;

  width: 100%;

}

@media screen and (max-width: 650px) {
  /* table td:nth-of-type(3) {
      display: none;
  } */
  .user-column-list{
    column-count: 2;
    /* background-color: red; */
  }
}
@media screen and (max-width: 376px) {
  /* table td:nth-of-type(4) {
      display: none;
  } */
  .user-column-list{
    column-count: 1;
    /* background-color: green; */
  }
}
