<!-- display navigation bar first -->
<app-navigation-bar></app-navigation-bar>

<!-- Now display the main content -->
<div style="display: flex; flex-direction: row; flex-wrap: wrap;">

  <!-- Display the user names -->
  <div *ngIf="editorMode == false" style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%;">
    <div class="user-column-list">
      <div *ngFor="let user of users; let i=index">
        <mat-card (click)="openUserEditor(user)" style="cursor:pointer; margin-top:0; margin-left:5px">{{i + 1}}.) {{user.first_name}} {{user.last_name}} {{user.email}} id:{{user.id}}</mat-card>
      </div>
    </div>
  </div>

  <!-- editorMode stuff -->
  <!-- <div *ngIf="editorMode == true">
    <app-user-editor [user]="selectedUser"></app-user-editor>
  </div> -->

</div>
<!-- <button (click)="openUserEditor()">
  Press Me
</button> -->
<!-- <button (click)="testConnection()">
  TEST CONNECTION
</button>
<button (click)="CreateTestUser()">
  TEST CREATE USER
</button>
<div>
  <p>{{tempUser.first_name}</p>
  <p>{{tempUser.address}}</p>
  <p>{{tempUser.city}}</p>
</div> -->
