<app-navigation-bar></app-navigation-bar>
<div style="display: flex; flex-direction: row; flex-wrap: wrap;">


  <!-- selecting mokjangs -->



  <!-- searching for members stuff -->
  <div *ngIf="editorMode == false" style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%;">
    <!-- <app-mokjang-select></app-mokjang-select> -->
    <!-- <app-Sarangbang *ngFor="let item of sarangbangs" [userDataArray]="users" [sbangName]="item.name"></app-Sarangbang> -->

    <!-- <app-family [familyMembers]="users" [familyHead]="users[0]"></app-family> -->
    <!-- <app-user *ngFor="let user of users; let i = index" [userData]="users[i]"></app-user> -->
    <div class="user-column-list">
      <div style="display:flex"  *ngFor="let user of users; let i=index">
        <mat-card (click)="SelectUser(user)" style="cursor:pointer; margin-top:0; margin-left:5px">{{i + 1}}.) {{user.name}} {{user.elname}}</mat-card>
      </div>
    </div>
  </div>


  <!-- editorMode stuff -->
  <div *ngIf="editorMode == true">
    <app-user-editor [user]="selectedUser"></app-user-editor>
  </div>


</div>
