<div style="display: flex; flex-direction: row; margin-top: 15px; cursor: pointer;" (click)="OnChooseUser()">

  <img style="max-width: 100px; margin-inline: 15px;" src="{{userData.photoRef}}">
  <div>
    <div style="font-size: 125%; font-weight: bold;">
      {{userData.name}}
    </div>

    <div>
      familyID:
      {{userData.familyID}}
    </div>

    <div>
      sarangbangID:
      {{userData.sarangbangID}}
    </div>

    <div>
      mokjangID:
      {{userData.mokjangID}}
    </div>

    <div>
      memberID:
      {{userData.memberID}}
    </div>
  </div>
</div>
