<div class="header-div">
  <mat-card class="mat-elevation-z0" style = "display: flex; flex-direction: column;">
    <mat-card-header>
      <mat-card-title>박정이</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <!-- This area contains a profile system form using angular materials -->
      <img class="profile-image" src="../../../assets/empty profile picture.png" alt="Profile Picture" width = 150px; height = 150px; style="float:left; margin-top: 30px;">

      <mat-card class="mat-elevation-z0" style="float:left; margin-left:10px">
        <div class = "user-name" style = "margin-top: 7px;">Jung Park</div>
        <button mat-raised-button color="primary" style="float:left; margin-left:3px">Edit Profile</button>
        <br><br>

        <!--This section displays the user's email, phone number, address, class level, and groups they are in-->
        <div class="user-job">
          <mat-icon>work</mat-icon>
            Youth Ministerrrrr
        </div>
        <div class="user-email">
          <mat-icon>email</mat-icon>
            <a href="mailto:seleokojie4@gmail.com"> abc@gmail.com </a>
        </div>
        <div class="user-phone">
          <mat-icon>phone</mat-icon>
            <a href="tel:+8210-1234-5678"> +8210-1234-5678 </a>
        </div>
        <div class="user-address">
          <mat-icon>place</mat-icon>
            7800 York Rd, Towson MD, 21204
        </div>
        <div class="user-class">
          <mat-icon>grade</mat-icon>
            Class Level: <a href=""> 5</a> (In Progress)
        </div>
        <div class="user-groups">
          <mat-icon>label</mat-icon>
            Mokjang <a href="">1</a>, Sarangbang <a href="">2</a>
        </div>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
<mat-divider></mat-divider>

<!--Container for all the information after the header-->
<div class="header-div">

  <mat-card style = "display: flex; flex-direction: column;"> <!--Card for family information-->
    <mat-card-header>
      <mat-card-subtitle>Family</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <img class="profile-image" src="../../../assets/empty profile picture.png" alt="Profile Picture" width = 30px; height = 30px; style="float:left; margin-right: 5px;">
          <u>정형빈</u>
        </mat-list-item>
        <mat-list-item role="listitem">
          <img class="profile-image" src="../../../assets/empty profile picture.png" alt="Profile Picture" width = 30px; height = 30px; style="float:left; margin-right: 5px;">
          <u>정해빈</u>
        </mat-list-item>
        <mat-list-item role="listitem">
          <img class="profile-image" src="../../../assets/empty profile picture.png" alt="Profile Picture" width = 30px; height = 30px; style="float:left; margin-right: 5px;">
          <u>박시언</u>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card style="float:left"> <!--Card for Groups the member is participating in-->
    <mat-card-header>
      <mat-card-subtitle>Groups</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem">
          • Mission Group
        </mat-list-item>
        <mat-list-item role="listitem">
          • Education Group
        </mat-list-item>
        <mat-list-item role="listitem">
          • Youth Group
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card style="float:left"> <!--Card for Groups the member is participating in-->
  <mat-card-header>
    <mat-card-subtitle>Visitations</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <b><01/01/1970></b>  (Reason: Lorem Ipsum) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </mat-list-item>
      <mat-list-item role="listitem">
        <b><01/02/2000></b>  (Reason: Lorem Ipsum) Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      </mat-list-item>
      <mat-list-item role="listitem">
        <b><04/03/2010></b>  (Reason: Lorem Ipsum) dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </mat-list-item>
      <mat-list-item role="listitem">
        <b><05/04/2010></b>  (Reason: Lorem Ipsum) Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  </mat-card>

</div>
